
<link rel="stylesheet" type="text/css" href="~/CSS/StyleSheet.css">


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Default</title>
</head>
<body>
    <nav>
        <div>
            <img src="~/Images/Blog.jpg">
            <span>The BlogSpot</span>
        </div>
        <div class="navbar"></div>
        <a class="push" href="/Home/Index">Home</a>
        <div class="dropbtn">
            <button class="dropbtn">
                All Blogs
                <i class="fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/Category/CategoryDetails/1">Pets</a>
                <a href="/Category/CategoryDetails/2">Sports</a>
            </div>
        </div>
        <div class="dropbtn">
            <button class="dropbtn">
                Tags
                <i class="fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/Category/CategoryDetails/1">Pets</a>
                <a href="/Category/CategoryDetails/2">Sports</a>
            </div>
        </div>
    </nav>
    @RenderBody()
    <footer> BlogSpot 2019</footer>
</body>
</html>

        
